:root {
  //sizes
  --width-page: 850px;
  // Fonts
  --font-global: Arial, Helvetica, sans-serif;

  //colors
  --darkblue: #063547;
  --greenlight: #44b89d;
  --whitegray: #f5f6f9;
  --dark: #0c0c0c;
}
