nav {
  background-color: var(--darkblue);
  padding: 10px;
  text-align: end;
  color: var(--whitegray);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: var(--width-page);
  }
  a {
    display: inline-block;
    margin: 5px 25px;
    text-decoration: none;
    color: white;
    &:last-child {
      margin: 5px 5px 5px 25px;
    }
  }
}
section.container {
  background-color: white;
  margin-top: 45px;
}

footer {
  background-color: var(--darkblue);
  color: var(--whitegray);
  section {
    margin: 0 auto;
    max-width: var(--width-page);
  }
  article {
    max-width: 220px;
    float: left;
    margin: 20px;
    &.socials p {
      line-height: 20px;
    }
    &.socials img {
      height: 25px;
      width: 25px;
      margin-right: 5px;
    }
    &.address div {
      margin-bottom: 15px;
    }
  }
}
