<header>
  <nav>
    <ul>
      <a *ngFor="let item of pagesList" href="{{item.link}}">
        <li>{{item.text}}</li>
      </a>
    </ul>
  </nav>
</header>
<section class="container">
  <article>
    <router-outlet></router-outlet>
  </article>
</section>
<footer>
  <section>
    <article class="socials">
      <h2>{{'theme.about.title' | translate}}</h2>
      <p>{{'theme.about.description' | translate}}</p>
      <span>
        <a target="_blank" href=''><img src='assets/icons/facebook.png' /></a>
        <a target="_blank" href=''><img src='assets/icons/twitter.png' /></a>
        <a target="_blank" href=''><img src='assets/icons/linkedin.png' /></a>
        <a target="_blank" href=''><img src='assets/icons/instagram.png' /></a>
      </span>
    </article>
    <article class="address">
      <h2>{{'theme.address.title' | translate}}</h2>
      <div>{{'theme.address.location' | translate}}</div>
      <div>{{'theme.address.call' | translate}}</div>
      <div>{{'theme.address.mail' | translate}}</div>
    </article>
  </section>
</footer>
