:host {
  display: inline-block;
  width: 405px;
  vertical-align: top;
  margin: 0 10px;
  box-shadow: 0 0 5px #c0c0c0;
  background-color: white;
}
.image {
  position: relative;
  margin-bottom: 25px;
  img {
    width: 405px;
  }
  span {
    position: absolute;
    left: 23px;
    bottom: -13px;
    background-color: var(--darkblue);
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 15px;
  }
}
.description {
  margin: 20px;
  h3{
    margin: 5px 0;
  }
  span {
    color: var(--greenlight);
  }
}
